<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>部屋を旅しよう</h1>
      <%= link_to 'らりぶ おれんち を始める' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<%= render 'rooms/list' , rooms: @rooms %>